<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998398431781-57mi2f953a4mud3th3r56truh9vb02sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998398431781-57mi2f953a4mud3th3r56truh9vb02sq</string>
	<key>API_KEY</key>
	<string>AIzaSyAv0GMUaecdd2rwywI2yquTGN8NoxSpXbg</string>
	<key>GCM_SENDER_ID</key>
	<string>998398431781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskmumFlutter</string>
	<key>PROJECT_ID</key>
	<string>tuskmum-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>tuskmum-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998398431781:ios:d4348b222b0ac7a1bc65cc</string>
</dict>
</plist>